spring:
  application:
    name: apigateway-service

  cloud:
    gateway:
      routes:
        
        - id: user-service
          uri: http://localhost:8087
          predicates:
            - Path=/api/auth/**    # for user management endpoints
        - id: product-service
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/api/categories/v1/**,/api/products/**,/api/product-images/v1/**
          
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/